<div align='center'>
  <a name='page_top'></a>
  <div style='width: 800px; text-align: center; border-style: none;'>
    <h1 style='font-size:20pt;'>📅 Expiring 📅</h1>
  </div>
  <% if @data_files.any? %>
    <div style='width: 800px; text-align: left; border-style: none;'>
      <% @data_files.each do |data_file| %>
        <a href='#<%= data_file.safe_name %>'><%= data_file.name %></a>
        <%= '•' unless data_file == @data_files.last %> 
      <% end %>
    </div>
    <div style='width: 800px; text-align: left; border-style: none;'>
      <% @data_files.each do |data_file| %>
        <a name='<%= data_file.safe_name %>'></a>
        <p>
        <%= erb :_data_file, locals: { data_file: data_file, in_stock: true } %>
        </p>
      <% end %>
    </div>
  <% else %>
    <div align='center'>
      <p>
        <img src="<%= @success_gif %>" alt="Rotating <%= site_icon %>" />
      </p>
      <p>
        No expiring food!
      </p>
    </div>
  <% end %>
</div>
